<div class="row">
  <div class="col-md-3">
    <app-navbar></app-navbar>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
          <div class="row">
            <div class="col-xs-12">
              <label for="title">Title</label>
              <input type="text"
                     id="title"
                     class="form-control"
                     name="title"
                     ngModel
                     required
              >
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
<!--              <label for="category">Category</label>-->
<!--              <select id="category"-->
<!--                      name="category"-->
<!--                      class="form-control"-->
<!--                      ngModel-->
<!--              >-->
<!--                <option selected-->
<!--                        disabled-->
<!--                        hidden-->
<!--                        [value]="null"-->
<!--                >Please select</option>-->
<!--                <option *ngFor="let category of categories;"-->
<!--                        [value]="category.id">{{category.name}}</option>-->
<!--              </select>-->

<!--              <label for="supplier">Supplier</label>-->
<!--              <select id="supplier"-->
<!--                      name="supplier"-->
<!--                      class="form-control"-->
<!--                      ngModel-->
<!--              >-->
<!--                <option selected-->
<!--                        disabled-->
<!--                        hidden-->
<!--                        [value]="null"-->
<!--                >Please select</option>-->
<!--                <option *ngFor="let supplier of suppliers;"-->
<!--                        [value]="supplier.id">{{supplier.name}}</option>-->
<!--              </select>-->

              <label for="amount">Amount</label>
              <input type="number"
                     id="amount"
                     class="form-control"
                     name="amount"
                     ngModel
                     required
                     pattern="^[1-9]+[0-9]*$"
              >
              <label for="price">Price</label>
              <input type="number"
                     id="price"
                     class="form-control"
                     name="price"
                     ngModel
                     required
                     pattern="^[1-9]+[0-9]*$"
              >
            </div>
            <div class="col-xs-9">
              <label for="description">Description</label>
              <textarea type="text"
                        id="description"
                        class="form-control"
                        name="description"
                        rows="7"
                        ngModel
                        required
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <input type="text"
                       id="imagePath"
                       class="form-control"
                       name="imagePath"
                       ngModel
                       required
                       #imagePath>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <img [src]="imagePath.value"
                   class="img-responsive"
                   style="height: 300px;"
                   alt="[Preview of product image]"
              >
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" [disabled]="productForm.invalid">
                <!--                          {{ editMode ? 'Update' : 'Add'}}-->
                Add
              </button>
              <!--                        <button-->
              <!--                          class="btn btn-danger"-->
              <!--                          type="button"-->
              <!--                          (click)="onDelete()"-->
              <!--                          [disabled]="!editMode"-->
              <!--                        >Delete-->
              <!--                        </button>-->
              <!--                        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

