.product-item {
  margin-top: 10px;
  border: 1px solid black;
}

.missing {
  font-style: italic;
  color: gray;
}

.amount-input {
  height: 35px;
  width: 70px;
  margin: 10px 10px 0 0;
}

.add-to-cart {
  height: 35px;
  margin: 10px 0 0 0;
}
