<div class="list-group-item clearfix">
  <div class="col-xs-3">
    <img
      [src]="product.imagePath"
      alt="Product image"
      class="img-responsive"
      style="max-height: 60px;"
    >
  </div>
  <div class="col-xs-4">
    <h4 class="list-group-item-heading">{{product.title}}</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
      <div class="btn btn-primary" style="cursor: default">{{product.price}} zł</div>
      <button type="button" class="btn btn-warning">Add to cart</button>
    </div>
  </div>
  <div class="col-xs-5">
    <p class="list-group-item-text">{{product.description}}</p>
  </div>

</div>

