<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products">All products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">navbar works!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">here</a>
    <a class="nav-link">will</a>
    <a class="nav-link">be</a>
    <a class="nav-link">the</a>
    <a class="nav-link" routerLink="/categories">All categories</a>
  </li>
</ul>
<br>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/suppliers">All suppliers</a>
  </li>
</ul>
