<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">navbar works!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">here</a>
    <a class="nav-link" href="#">will</a>
    <a class="nav-link" href="#">be</a>
    <a class="nav-link" href="#">the</a>
    <a class="nav-link" href="#">categories</a>
  </li>
</ul>
<br>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">All suppliers</a>
  </li>
</ul>
