<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products">All products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products/new">New product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">here</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">will</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">be</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">the</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/categories">All categories</a>
  </li>
</ul>
<br>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/suppliers">All suppliers</a>
  </li>
</ul>
