<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item d-flex align-items-center clearfix"
        *ngFor="let lineItem of (lineItems | async).lineItems;"
    >
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="list-group-item-heading">{{lineItem.product.title}}</h3>
            </div>
            <div class="col-md-6">
              <img
                src="{{lineItem.product.imageURL}}"
                alt="Product image"
                class="img-responsive"
                style="max-height: 120px;"
              >
            </div>
            <div class="col-md-3 price-box">
              <span class="text-center">
                {{+lineItem.product.price}} zł
              </span>
            </div>
            <div class="col-md-3 price-box">
              <span class="text-center">
                {{lineItem.product.price * lineItem.quantity}} zł
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><span class="plus-span disable-select"
                                    (click)="incrementQuantity(lineItem)"><a>+</a></span>
          <input type="text"
                 class="form-control"
                 value="{{lineItem.quantity}}"
                 [(ngModel)]="lineItem.quantity">
          <span class="minus-span disable-select">-</span></div>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center clearfix">
      <div class="row">

        <div class="col-md-9 price-box">
          <div class="col-md-9 text-right">
            Total price:
          </div>
          <div class="col-md-3">
            {{totalPrice}} zł
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
