<div class="col-xs-10">
  <ul class="list-group">
    <li class="list-group-item d-flex align-items-center clearfix"
        *ngFor="let lineItem of (lineItems | async).lineItems;"
    >
      <div class="col-xs-3">
        <img
          src="{{lineItem.product.imageURL}}"
          alt="Product image"
          class="img-responsive"
          style="max-height: 120px;"
        >
      </div>
      <div class="col-xs-4">
        <h4 class="list-group-item-heading">{{lineItem.product.title}}</h4>
        <div class="btn-group" role="group" aria-label="Basic example">
          <div class="btn btn-primary" style="cursor: default">{{lineItem.product.price * lineItem.quantity}} zł</div>
        </div>
      </div>
      <div class="col-xs-5">
        <span class="plus-span disable-select" (click)="incrementQuantity(lineItem)"><a>+</a></span>
        <input type="text" value="{{lineItem.quantity}}" [(ngModel)]="lineItem.quantity">
        <span class="minus-span disable-select">-</span>
      </div>
      <!--        todo jakaś ikonka kosza-->
      <!--        na "-" i "+" będą jakies onclicki zwiększające/zmniejszające ilość-->
    </li>
  </ul>
</div>
<!--<p>here should be summary</p>-->
<!--Summary:-->
<!--<button>Continue Shopping / Back to Shop</button>-->
<!--<button>Checkout</button>-->
